.block {
  margin: 10px;
  /* border: solid black 1px;
  border-radius: 10px; */

  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.block h2,
.block p {
  margin: 10px;
}

html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}