/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */


/* ---------------------------------- SOINS --------------------------------- */

.soin {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#soins .block {
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}


#soins img {
    height: auto;
    min-width: 200px;
    width: 100%;
    object-fit: contain;
}

#soins h3,
#soins p {
    padding: 10px
}

.img {
    align-content: center;
    width: 80%;
}

.txt {
    width: 100%;
}

#soins img {
    max-width: 100%;
    width: 100%;
    min-height: 175px;
}

#contraindications {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#reikiImg{
    max-height: 300px;
}

@media (max-width:700px) {
    #soins img {
        max-height: 300px;
    }
    .img {
        width: 100%;
    }
}