
@font-face {
  font-family: "Trickster";
  src: url("../assets/font/Ampher.ttf") format("opentype");
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  border: 1px solid black;
  padding: 0.75em;
  text-align: left;

  font-family: "Trickster", sans-serif;
}

th {
  background-color: #f2f2f2;
}

/* H2 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0.5em;
} */

.seance, p{
  text-align: center;
  padding:5px;
  margin:40px;
  border:1px solid black;
  border-radius: 10px;
}