<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accord de soi</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/rdv.css">
    <link rel="icon" type="image/x-icon"
        href="../assets/images/zen-crazy-japan-style-zazen-android-zen-master-relax-941c1b26391a3a4d392286270875644f.png">
</head>

<body>
    <header>
        <nav>
            <details>
                <summary id="menuButton">
                    <span class="hamburger"></span>
                </summary>
                <section id="menuList">
                    <button onclick="location.href='../index.html'">Accueil</button>
                    <button onclick="location.href='./rdv.html'">Prendre Rendez-Vous</button>
                    <button onclick="location.href='./seances.html'">Nos Séances</button>
                    <button onclick="location.href='./tarifs.html'">Tarifs</button>
                    <button onclick="location.href='./contact.html'">Contact</button>
                </section>
            </details>
        </nav>

        <section id="homebutton">
            <img src="../assets/images/c.png" onclick="location.href='../index.html'">
        </section>
    </header>

    <main>

        <section id="mainSection">
            <section id="titre">
                <div>
                    <h1>Prise de Rendez-Vous</h1>
                </div>
                <div>
                    <p>A l'issu de ce formulaire, vous aurez acces aux horaires disponibles.</p>
                </div>
            </section>
            <section id="formulaire" class="block">

                <form id="form" >
                    <div class=" part" id="perso">
                    <H2>Vos Informations Personnelles</H2>

                    <div>
                        <label for="fname">Nom :</label><br>
                        <input type="text" name="fname" required><br>
                    </div>

                    <div>
                        <label for="lname">Prenom :</label><br>
                        <input type="text" name="lname" required><br>
                    </div>

                    <div>
                        <label for="Bdate">Date de naissance :</label><br>
                        <input type="date" name="Bdate" required><br>
                    </div>

                    <div>
                        <label for="phone">Telephone :</label><br>
                        <input type="tel" name="phone" required><br>
                    </div>

                    </div>
                    <div class="part" id="medic">
                        <h2>Vos Informations Médicales</h2>

                        <div class="medicQ">
                            <p>Êtes-vous enceinte ?</p>

                            <input type="radio" name="enceinte" id="enceinte_oui" class="trigger-oui" value="Oui">
                            <label for="enceinte_oui">Oui</label>

                            <input type="radio" name="enceinte" id="enceinte_non" value="Non">
                            <label for="enceinte_non">Non</label>

                            <div class="texte-supplementaire">
                                <label for="raison_enceinte">Approfondissements :</label><br>
                                <input type="text" id="raison_enceinte" name="raison_enceinte">
                            </div>
                        </div>

                        <div class="medicQ">
                            <p>Portez-vous un pacemaker ?</p>

                            <input type="radio" name="pacemaker" id="pacemaker_oui" class="trigger-oui" value="Oui">
                            <label for="pacemaker_oui">Oui</label>

                            <input type="radio" name="pacemaker" id="pacemaker_non" value="Non">
                            <label for="pacemaker_non">Non</label>

                            <div class="texte-supplementaire">
                                <label for="raison_pacemaker">Approfondissements :</label><br>
                                <input type="text" id="raison_pacemaker" name="raison_pacemaker">
                            </div>
                        </div>

                        <div class="medicQ">
                            <p>Portez-vous des broches chirurgicales ?</p>

                            <input type="radio" name="broche" id="broches_oui" class="trigger-oui" value="Oui">
                            <label for="broches_oui">Oui</label>

                            <input type="radio" name="broche" id="broches_non" value="Non">
                            <label for="broches_non">Non</label>

                            <div class="texte-supplementaire">
                                <label for="raison_broches">Approfondissements :</label><br>
                                <input type="text" id="raison_broches" name="raison_broches">
                            </div>
                        </div>

                        <div class="medicQ">
                            <p>Êtes-vous porteur d'une maladie ?</p>

                            <input type="radio" name="malade" id="maladie_oui" class="trigger-oui" value="Oui">
                            <label for="maladie_oui">Oui</label>

                            <input type="radio" name="malade" id="maladie_non" value="Non">
                            <label for="maladie_non">Non</label>

                            <div class="texte-supplementaire">
                                <label for="raison_maladie">Approfondissements :</label><br>
                                <input type="text" id="raison_maladie" name="raison_maladie">
                            </div>
                        </div>

                        <div class="medicQ">
                            <p>Avez-vous des troubles psychologiques ou traumatismes ?</p>

                            <input type="radio" name="psy" id="troubles_oui" class="trigger-oui" value="Oui">
                            <label for="troubles_oui">Oui</label>

                            <input type="radio" name="psy" id="troubles_non" value="Non">
                            <label for="troubles_non">Non</label>

                            <div class="texte-supplementaire">
                                <label for="raison_troubles">Approfondissements :</label><br>
                                <input type="text" id="raison_troubles" name="raison_troubles">
                            </div>
                        </div>

                        <div class="medicQ">
                            <p>Suivez-vous un traitement médical ?</p>

                            <input type="radio" name="traitement" id="traitement_oui" class="trigger-oui" value="Oui">
                            <label for="traitement_oui">Oui</label>

                            <input type="radio" name="traitement" id="traitement_non" value="Non">
                            <label for="traitement_non">Non</label>

                            <div class="texte-supplementaire">
                                <label for="raison_traitement">Approfondissements :</label><br>
                                <input type="text" id="raison_traitement" name="raison_traitement">
                            </div>
                        </div>

                        <div class="medicQ">
                            <p>Avez-vous subi une opération récemment ?</p>

                            <input type="radio" name="recent" id="operations_oui" class="trigger-oui" value="Oui">
                            <label for="operations_oui">Oui</label>

                            <input type="radio" name="recent" id="operations_non" value="Non">
                            <label for="operations_non">Non</label>

                            <div class="texte-supplementaire">
                                <label for="raison_operations">Approfondissements :</label><br>
                                <input type="text" id="raison_operations" name="raison_operations">
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="plus">Questions ou précisions :</label><br>
                        <textarea name="plus"></textarea><br>
                    </div>
                    <div>
                        <label for="RGPD">J'ai lu et j'accepte les RGPD (Regles Generales de Protection des données )
                        </label><br>
                        <input type="checkbox" name="RGPD" required value="Oui"></textarea><br>
                    </div>
                    <div>
                        <input type="submit" id="button" value="Send Email">
                    </div>
                </form>
            </section>
        </section>


        <!-- 
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

        <script type="text/javascript">
            emailjs.init('9TDdw4MKGhTTk7qVR')
        </script>
        <script>
            const btn = document.getElementById('button');

            document.getElementById('form')
                .addEventListener('submit', function (event) {
                    event.preventDefault();

                    btn.value = 'Sending...';

                    const serviceID = 'default_service';
                    const templateID = 'template_2ymmqxl';

                    emailjs.sendForm(serviceID, templateID, this)
                        .then(() => {
                            btn.value = 'Send Email';
                            alert('Sent!');
                        }, (err) => {
                            btn.value = 'Send Email';
                            alert(JSON.stringify(err));
                        });
                });
        </script> -->




    </main>

    <footer>
        <section id="L">
            <h5>Nos Reseaux</h5>
            <h5>Conditions générales d’utilisation</h5>
        </section>
        <section id="R">
            <h5 onclick="location.href='./confidentiality.html'">Politique de confidentialité</h5>
            <h5 onclick="location.href='./legal.html'">Mentions légales</h5>
        </section>
        </section>
    </footer>

</body>

</html>