<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accord de soi</title>
    <link rel="stylesheet" href="../css/maintenance.css">
    <link rel="icon" type="image/x-icon"
        href="../assets/images/zen-crazy-japan-style-zazen-android-zen-master-relax-941c1b26391a3a4d392286270875644f.png">
</head>

<body>
    <header>
        <nav>
            <details>
                <summary id="menuButton">
                    <span class="hamburger"></span>
                </summary>
                <section id="menuList">
                    <button onclick="location.href='../index.html'">Accueil</button>
                    <button onclick="location.href='./rdv_maintenance.html'">Prendre Rendez-Vous</button>
                    <button onclick="location.href='./seances.html'">Séances</button>
                    <button onclick="location.href='./tarifs.html'">Tarifs</button>
                    <!-- <button onclick="location.href='./contact.html'">Contact</button> -->
                </section>
            </details>
        </nav>
        <section id="homebutton">
            <img src="../assets/images/c.png" onclick="location.href='../index.html'">
        </section>
    </header>

    <main>
        <section id="mainSection">
            <section class="block">
                <div id="divimg">
                    <img src="../assets/images/wip.png">
                </div>
                <H1>La page de prise de rendez-vous est en cours de contruction.</H1>
                <p>Pour prendre rendez-vous, veillez me contacter au <strong><u>0607551277</u></strong> .</p>
                <p>Laissez-moi un message vocal avec vos coordonnées et vos
                    disponibilités
                    ou envoyez-moi un sms.
                </p>
            </section>
        </section>
    </main>

    <footer>
        <section id="L">
            <h5>Nos Reseaux</h5>
            <h5>Conditions générales d’utilisation</h5>
        </section>
        <section id="R">
            <h5 onclick="location.href='./confidentiality.html'">Politique de confidentialité</h5>
            <h5 onclick="location.href='./legal.html'">Mentions légales</h5>
        </section>
        </section>
    </footer>

</body>

</html>