<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accord de soi</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/tarifs.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/zen-crazy-japan-style-zazen-android-zen-master-relax-941c1b26391a3a4d392286270875644f.png">

</head>

<body>
    <header>
        <nav>
            <details>
                <summary id="menuButton">
                    <span class="hamburger"></span>
                </summary>
                <section id="menuList">
                    <button onclick="location.href='../index.html'">Accueil</button>
                    <button onclick="location.href='./rdv_maintenance.html'">Prendre Rendez-Vous</button>
                    <button onclick="location.href='./seances.html'">Nos Séances</button>
                    <button onclick="location.href='./tarifs.html'">Tarifs</button>
                    <!-- <button onclick="location.href='./contact.html'">Contact</button> -->
                </section>
            </details>
        </nav>

        <section id="homebutton">
            <img src="../assets/images/c.png" onclick="location.href='./index.html'">
        </section>

    </header>

    <main>
        <section id="mainSection">
            <section class="block" id="titre">
                <div>
                    <img id="mainImg" src="../assets/images/pot.png">
                </div>
                <div>
                    <H1>Tarifs</H1>
                    <p>Attention : Vous devrez compter 30 minutes d'échange supplémentaires aux temps indiqués. 
                    </p>
                </div>

            </section>
            <section>
                <div class="seance">
                    <table>
                        <H2>Massage et Voyage Sonore</H2>
                        <thead>
                            <tr>
                                <th>Prestation</th>
                                <th>Durée</th>
                                <th>Tarif</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Massage d'alignement</td>
                                <td>30 min</td>
                                <td>30 €</td>
                            </tr>
                            <tr>
                                <td>Massage d'alignement et d'ancrage</td>
                                <td>45 min</td>
                                <td>45 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore assis</td>
                                <td>30 min</td>
                                <td>30 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore du dos</td>
                                <td>30 min</td>
                                <td>30 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore universel</td>
                                <td>1h</td>
                                <td>60 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore articulaire</td>
                                <td>1h</td>
                                <td>60 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore universel + dos</td>
                                <td>1h30</td>
                                <td>90 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore cocooning (45mn)</td>
                                <td>45 min</td>
                                <td>45 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore cocooning (1h)</td>
                                <td>1h</td>
                                <td>60 €</td>
                            </tr>
                            <tr>
                                <td>Voyage sonore (collectif)</td>
                                <td>1h</td>
                                <td>25 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="seance">
                    <table>
                        <H2>Bon Cadeau Fidélité</H2>
                        <thead>
                            <tr>
                                <th>Condition</th>
                                <th>Avantage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3 massages sonores 1h dans le mois</td>
                                <td>Bon de 20 € (massage pieds ou dos 20 min offert lors de la 3e séance)</td>
                            </tr>
                            <tr>
                                <td>5 massages sonores 1h</td>
                                <td>Bon cadeau de 30 €</td>
                            </tr>
                            <tr>
                                <td>5 massages de 1h30 ou 7 massages de 1h</td>
                                <td>Bon cadeau de 45 €</td>
                            </tr>
                            <tr>
                                <td>8 massages sonores 1h</td>
                                <td>Bon cadeau de 60 €</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="seance">
                    <table>
                        <H2>Massage Intuitif</H2>
                        <thead>
                            <tr>
                                <th>Prestation</th>
                                <th>Durée</th>
                                <th>Tarif</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Massage intuitif</td>
                                <td>1h</td>
                                <td>100 €</td>
                            </tr>
                            <tr>
                                <td>Massage intuitif</td>
                                <td>1h30</td>
                                <td>125 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore 30 min + massage intuitif</td>
                                <td>1h</td>
                                <td>125 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore 45 min + massage intuitif</td>
                                <td>1h</td>
                                <td>140 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore 30 min + massage intuitif</td>
                                <td>1h30</td>
                                <td>150 €</td>
                            </tr>
                            <tr>
                                <td>Massage sonore 1h + massage intuitif</td>
                                <td>1h</td>
                                <td>180 €</td>
                            </tr>
                            <tr>
                                <td>Massage intuitif couple (1h/personne)</td>
                                <td>2h</td>
                                <td>180 €</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="seance">
                    <table>
                        <H2>Séance Énergétique</H2>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Durée</th>
                                <th>Tarif</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Séance Lahochi</td>
                                <td>30 min</td>
                                <td>30 €</td>
                            </tr>
                            <tr>
                                <td>Séance Lahochi</td>
                                <td>1h</td>
                                <td>50 €</td>
                            </tr>
                            <tr>
                                <td>Séance Reiki</td>
                                <td>1h</td>
                                <td>60 €</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="seance">
                    <table>
                        <H2>Cartomancie</H2>
                        <thead>
                            <tr>
                                <th>Type de tirage</th>
                                <th>Durée</th>
                                <th>Tarif</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tirage flash</td>
                                <td>15 min</td>
                                <td>15 €</td>
                            </tr>
                            <tr>
                                <td>Tirage cartes oracles</td>
                                <td>30 min</td>
                                <td>30 €</td>
                            </tr>
                            <tr>
                                <td>Tirage Tarot des Anges</td>
                                <td>45 min</td>
                                <td>45 €</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="seance">
                    <table>
                        <H2>Activités Créatives</H2>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Durée</th>
                                <th>Tarif</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tarifs à définir au cas par cas</td>
                                <td>—</td>
                                <td>—</td>
                            </tr>
                        </tbody>
                    </table>
            </section>
        </section>
    </main>

    <footer>
        <section id="L">
            <h5>Nos Reseaux</h5>
            <h5>Conditions générales d’utilisation</h5>
        </section>
        <section id="R">
            <h5 onclick="location.href='./confidentiality.html'">Politique de confidentialité</h5>
            <h5 onclick="location.href='./legal.html'">Mentions légales</h5>
        </section>
    </footer>

</body>

</html>